.header {

    max-width: 1200px;
    /* 최대 너비를 1200px로 주고 디스플레이 사이즈에 따라 가변 */
    margin: 10px auto;
    line-height: 50px;

    border: 5px solid #ddd;
    box-sizing: border-box;

}

.header h1 {
    margin: 20px;
    font-size: 30px;
    font-weight: 1000;
}

/* .sec {
    padding: 25 0;
} */

.inner {
    max-width: 1200px;
    margin: 0 auto;
    box-sizing: border-box;
}

.name {
    display: block;
    text-align: right;
    font-size: 16px;
    font-weight: 500;
    padding: 10px 0;
}

ul {
    text-align: center;
}

ul.order li {
    text-align: center;
    list-style: none;
}

ul.order li strong {

    color: red;
    font-weight: 500;
}

ul li {
    padding: 10px 10px;
    list-style: circle;

    font-weight: 500;
    text-align: left;
    list-style-position: inside;

}

ul li:hover {
    font-weight: 700;
}

ul li:not(:last-child) {
    border-bottom: 2px dotted #ddd;
}

ul span {
    display: block;
    line-height: 1.5;
    text-align: left;
    font-weight: 400;
    max-width: 1200px;
    margin: 20px;
}



ul .title {
    display: block;
    font-size: 20px;
    border-top: 2px solid #888;
    border-bottom: 2px solid #888;
    padding: 15px 0;

}


.show {
    display: block;
}